/* Basic editor styles */
.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  &:focus-visible {
    outline: none;
  }

  overflow-wrap: break-word;
  width: 100%;
  min-height: 80vh;

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3 {
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 1.25;
    padding-bottom: 0.3em;
  }

  h1 {
    font-size: 2em;
    margin-top: 12px;
    border-bottom: 1px solid #53535d;
  }

  h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #53535d;
  }

  h3 {
    font-size: 1.25em;
  }

  code {
    background: #0d0d0d;
    color: #eb5757;
  }

  &.ProseMirror pre {
    white-space: pre;
  }

  pre {
    background: #515151;
    color: #fefefe;
    font-family: "JetBrainsMono", monospace;
    padding: 8px 12px;
    border-radius: 4px;
    overflow-x: scroll;
    text-wrap: nowrap;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }
  code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    border-radius: 6px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }

  // placeholder
  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  a {
    color: #29b6f6;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  p {
    margin: 12px 0px;
  }
}
